{
    "name": "myapp",
    "author": "",
    "version": "0.0.1",
    "preferGlobal": "true",
    "dependencies": {
        "webmake": ">= 0.3.14",
        "dot-module": ">= 0.0.1"
    },
    "engines": { "node": "*" }
}